<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = (h @subject.name) + " : " +
                (h @predicate.name) + " : " +
                (h @obj.name)

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Subject', 'WmHelp:GlossaryPtoZ#anchor_Subject' ],
    [ 'Predicate', 'WmHelp:GlossaryPtoZ#anchor_Predicate' ],
    [ 'Object', 'WmHelp:GlossaryAtoO#anchor_Object' ],
    [ 'Node', 'WmHelp:GlossaryAtoO#anchor_Node' ],
    [ 'Edge', 'WmHelp:GlossaryAtoO#anchor_Edge' ]
  ]
 %>


<div class="headline">Edge content<%=
  popup_help_icon "Help, edge content", "WmHelp:Popup/HeaderEdge" %>
</div>


<table>
  <tr><td>
    <b>Subject:</b>
  </td><td>
      <%= link_to "<b>#{h @subject.title}</b>", node_path(@subject) %> &mdash;
      (<b><%= h @subject.name %></b>)
    <p>
      <%= h @subject.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Predicate:</b>
  </td><td>
      <%= link_to "<b>#{h @predicate.title}</b>", node_path(@predicate) %>
      &mdash; (<b><%= h @predicate.name %></b>)
    <p>
      <%= h @predicate.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Object:</b>
  </td><td>
      <%= link_to "<b>#{h @obj.title}</b>", node_path(@obj) %> &mdash;
      (<b><%= h @obj.name %></b>)
    <p>
      <%= h @obj.description %>
    </p>
  </td></tr>
</table>

<%= render :partial => 'common/bottom_line'    # contains an opening <div>
 %>
  <ul class="outbound-links-list">
    <% if (@edge.flags & Edge::DATA_IS_UNALTERABLE) == 0 %>
      <li><span style="white-space: nowrap;">
        <%= link_to 'Edit&hellip;', edit_edge_path(@edge),
                    :rel => 'nofollow' -%><%=
        popup_help_icon "Help edit nodes", "WmHelp:Popup/NodeEdit"
      -%></span></li>

      <li><span style="white-space: nowrap;">
        <%= link_to 'Delete', edge_path(@edge), :rel => 'nofollow',
                    :confirm => 'Are you sure?', :method => :delete -%><%=
        popup_help_icon "Help delete nodes", "WmHelp:Popup/NodeDelete"
      -%></span></li>
    <% end %>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Show edge list', edges_path -%><%=
      popup_help_icon "Help for nodes list", "WmHelp:Popup/ShowEdges"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Create a new edge', new_edge_path, :rel => 'nofollow' -%><%=
      popup_help_icon "Help for edges create/new", "WmHelp:Popup/EdgeAdd"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Show node list', nodes_path -%><%=
      popup_help_icon "Help for nodes list", "WmHelp:Popup/ShowNodes"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Create a new node', new_node_path, :rel => 'nofollow' -%><%=
      popup_help_icon "Help for nodes create/new", "WmHelp:Popup/NodeAdd"
    -%></span></li>
  </ul>
</div>
