<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = (h @subject.name) + " : " +
                (h @predicate.name) + " : " +
                (h @obj.name)

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Subject', 'Help:GlossaryPtoZ#anchor_Subject' ],
    [ 'Predicate', 'Help:GlossaryPtoZ#anchor_Predicate' ],
    [ 'Object', 'Help:GlossaryAtoO#anchor_Object' ],
    [ 'Item', 'Help:GlossaryAtoO#anchor_Item' ],
    [ 'Connection', 'Help:GlossaryAtoO#anchor_Connection' ]
  ]
 %>


<div class="headline">Connection content<%=
  popup_help_icon "Help, connection content", "Help:Popup/HeaderConnection" %>
</div>


<table>
  <tr><td>
    <b>Subject:</b>
  </td><td>
      <%= link_to "<b>#{h @subject.title}</b>", item_path(@subject) %> &mdash;
      (<b><%= h @subject.name %></b>)
    <p>
      <%= h @subject.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Predicate:</b>
  </td><td>
      <%= link_to "<b>#{h @predicate.title}</b>", item_path(@predicate) %>
      &mdash; (<b><%= h @predicate.name %></b>)
    <p>
      <%= h @predicate.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Object:</b>
  </td><td>
      <%= link_to "<b>#{h @obj.title}</b>", item_path(@obj) %> &mdash;
      (<b><%= h @obj.name %></b>)
    <p>
      <%= h @obj.description %>
    </p>
  </td></tr>
</table>

<%= render :partial => 'common/bottom_line'    # contains an opening <div>
 %>
  <ul class="outbound-links-list">
    <% if (@connection.flags & Connection::DATA_IS_UNALTERABLE) == 0 %>
      <li><span style="white-space: nowrap;">
        <%= link_to 'Edit&hellip;', edit_connection_path(@connection),
                    :rel => 'nofollow' -%><%=
        popup_help_icon "Help edit items", "Help:Popup/ItemEdit"
      -%></span></li>

      <li><span style="white-space: nowrap;">
        <%= link_to 'Delete', connection_path(@connection), :rel => 'nofollow',
                    :confirm => 'Are you sure?', :method => :delete -%><%=
        popup_help_icon "Help delete items", "Help:Popup/ItemDelete"
      -%></span></li>
    <% end %>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Show connection list', connections_path -%><%=
      popup_help_icon "Help for items list", "Help:Popup/ShowConnections"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Create a new connection', new_connection_path,
                  :rel => 'nofollow' -%><%=
      popup_help_icon "Help for connections create/new",
                      "Help:Popup/ConnectionAdd"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Show item list', items_path -%><%=
      popup_help_icon "Help for items list", "Help:Popup/ShowItems"
    -%></span></li>

    <li><span style="white-space: nowrap;">
      <%= link_to 'Create a new item', new_item_path, :rel => 'nofollow' -%><%=
      popup_help_icon "Help for items create/new", "Help:Popup/ItemAdd"
    -%></span></li>
  </ul>
</div>
