<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<p class="inputpara">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <%= image_tag "blank_error_icon.png", :id=>"title_error_icon", :alt=>"",
                :size=>"16x16" %>
</p><p class="directions">
  <span id="title_required">Required.</span>
  One line only
    (any text).
  No more than 255 characters.
</p>

<p class="inputpara">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <%= image_tag "blank_error_icon.png", :id=>"name_error_icon", :alt=>"",
                :size=>"16x16" %>
</p><p class="directions">
  <span id="name_required">Required.</span>
  Start with a letter.
  Letters, numbers, - and _ are OK.
  No more than 80 characters.
  Must be unique for every node.
</p>

<p class="inputpara">
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  <%= image_tag "blank_error_icon.png", :id=>"description_error_icon", :alt=>"",
                :size=>"16x16" %>
</p><p class="directions">
  Describe what this node represents.
  <span id="description_recommended">Recommended.</span>
  Up to 64K characters.
  No formatting.
</p>
