<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end %>

<% @title_text = h @node.title %>
<div class="headline">Editing
  node<a href="<%= WontoMedia.popup_url_prefix -%>WmHelp:Popup/LinkNodeEdit"
     style="font-size: small;" class="iframeBox" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help node edit",
              :class=>"image-in-text" -%></a>
</div>


<% form_for(@node, :url => node_path(@node)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form_fields", :locals => { :f => f } %>
  <p><%= f.submit "Update", :tabindex => "10" %></p>
<% end %>

<%= link_to 'Cancel,&nbsp;show&nbsp;node', node_path(@node),
            :rel => 'nofollow' %> |
<%= link_to 'Cancel,&nbsp;show&nbsp;node&nbsp;list', nodes_path,
            :rel => 'nofollow' %>

<script type="text/javascript">
  creatingNewNode = false;
</script>
<%= javascript_include_tag "forNodesForms" %>
<script type="text/javascript">
  plumbEventHandlersToNodeCreationElements();
  $(controlNamePrefix + 'node_title').focus();
</script>
