<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% require Rails.root.join( 'lib', 'helpers', 'node_helper') %>

<h1>Listing all nodes</h1>

<%= render :partial => "list_outbound_links" %>
<br/>

<table>
  <tr>
    <th></th>
    <th>&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>&nbsp;&nbsp;Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>&nbsp;&nbsp;Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>

  <% @nodes.each do |node| %>
    <% content_tag :tr, :id => node.name do %>
      <td><%=h NodeHelper::NODE_SUBTYPES_TO_HUMAN[node.sti_type] %>:</td>
      <td><%= link_to "#{h node.name}", node_path(node) %></td>
      <td class="edgecolumn"><%=h node.title %></td>
      <td><%=h node.description %></td>
      <td>
	<% if (node.flags & Node::DATA_IS_UNALTERABLE) == 0 %>
	  <%= link_to 'Edit&nbsp;node', edit_node_path(node) %>
	  <%= link_to 'Destroy&nbsp;node', node_path(node),
			:confirm => 'Are you sure?',
			:method => :delete %>
	<% end %>
      </td>
    <% end %>
  <% end %>
</table>

<%= render :partial => "list_outbound_links" %>
