<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  require Rails.root.join( 'lib', 'helpers', 'node_helper')
  @title_text = 'All Nodes'

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Name', 'WmHelp:GlossaryAtoO#anchor_Name' ],
    [ 'Title', 'WmHelp:GlossaryPtoZ#anchor_Title' ],
    [ 'Description', 'WmHelp:GlossaryAtoO#anchor_Description' ],
    [ 'Node', 'WmHelp:GlossaryAtoO#anchor_Node' ],
    [ 'Edge', 'WmHelp:GlossaryAtoO#anchor_Edge' ]
  ]
 %>


<div class="headline">

  <style>
    #top-box .outbound-links-list {
      padding: 0; margin: 0; margin-bottom: 0.5ex;  }
    #top-box .outbound-links-list li {
      margin-left: 1.5em;                           }
  </style>
  <%= popup_help_icon "Help, nodes list", "WmHelp:Popup/HeaderNodesIndex"
  -%>Listing all defined nodes

  <div id="top-box" class="noncontent" style="float: left; margin-left: 2em;">
    <%= render :partial => "list_outbound_links",
               :locals => { :generating_index_page => true } %>
  </div>
</div>

<style>
  .tight-table .firstrow {
    padding-top: 1ex;
  }
  .tight-table .secondrow {
    border-bottom: 1px solid #e8e8ff;
    padding-left: 2.2em;
  }
</style>
<table class="tight-table" style="clear: both;">
  <% @edit_help_icon_used = false
     @delete_help_icon_used = false

     @nodes.each do |node| %>
    <% content_tag :tr, :id => h(node.name) do %>
      <td class="firstrow"><%= wrap_node_name h node.name -%></td>
      <td class="firstrow" style="font-weight: bold; width: 62%;">
        <%= link_to filter_parenthetical(h node.title), node_path(node) -%></td>
      <td class="firstrow" style="font-size: 80%;">
        <% generate_node_links(node, @not_in_use_hash[node.id]) %>
      </td>
    <% end %>
    <tr>
      <td colspan="3" class="secondrow">
        <span style="font-size: 70%">
          <%=h NodeHelper::NODE_SUBTYPES_TO_HUMAN[node.sti_type] %>:</span>
        <%=h node.description %></td>
    </tr>
  <% end %>
</table>

<style>
    #bottom-row .outbound-links-list {
      padding-left: 0;
    }
    #bottom-row .outbound-links-list li {
      display: inline;
    }
    #bottom-row .outbound-links-list li + li {
      margin-left: 1.5em;
    }
</style>
<div id="bottom-row" style="text-align: center;">
  <%= render :partial => "list_outbound_links",
             :locals => { :generating_index_page => true } %>
</div>

