<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end %>

<%
  require Rails.root.join( 'lib', 'helpers', 'node_helper')
  @title_text = 'Make a new node'

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Category', 'WmHelp:GlossaryAtoO#anchor_Category' ],
    [ 'Item', 'WmHelp:GlossaryAtoO#anchor_Item' ],
    [ 'Property', 'WmHelp:GlossaryAtoO#anchor_Property' ]
  ]
 %>


<% options = @node.sti_type.nil? ? {} : { :url => nodes_path() }
   form_for(@node, options) do |f|
 %>
  <%= f.error_messages %>
  <div style="width: 40%; float: left;">
    <%= render :partial => "type_select", :locals => { :f => f } %>
    <%= render :partial => "form_fields", :locals => { :f => f } %>
    <script type="text/javascript">
      genNameFromTitleOk = true;
    </script>

    <p id="create_button_container" style="text-align: center">
      <%= f.submit "Create", :tabindex => "10" %>
    </p>

    <p style="text-align: center">
      <%= link_to 'Cancel,&nbsp;show&nbsp;node&nbsp;list', nodes_path,
                  :rel => 'nofollow' %> &mdash;
      <%= link_to 'Cancel,&nbsp;show&nbsp;edge&nbsp;list', edges_path,
                  :rel => 'nofollow' %>
    </p>
  </div>

  <div class="noncontent" style="width: 55%; float: right;">
    <dl><dt id="category_title">Category</dt><dd id="category_desc">

      "Category" is for groups of things, for concepts, and for the
      upper levels of hierarchies.  (Though a hierarchy made up entirely
      of concepts could be all Categories.)  Categories can "contain"
      other categories or items.

    </dd><dt id="item_title">Item</dt><dd id="item_desc">

      "Item" is for individual, concrete things.  Items can "contain"
      other items, but cannot contain categories.  ("Ford Model-T" might
      be an item, but could still contain parts that are also items,
      like "Windshield" and "Tire".)

    </dd><dt id="property_title">Property</dt><dd id="property_desc">

      "Property" is used to define relationships between other nodes.
      Once you create a new Property node, you should create one or
      more edges that relate that property to other existing
      properties.  In general, you will use the "sub_property_of"
      property in order to create these edges.  For example, if you
      were creating a description of famillial relations between
      people, you might create a new property named "spouseOf".  To
      define what the creation of edges using this new property
      <em>means</em>, you can create the edge "<code>spouseOf
      sub_property_of symmetric_relationship</code>".  This example
      will cause "spouseOf" to be treated as a "peer" relationship
      (rather than a hierarchical one), and as a symmetric
      relationship, so that creating a "spouseOf" edge from one node
      to another implies an edge going the other direction even if it
      is not defined explicitly.

    </dd></dl>
  </div>
<% end %>  <!-- of form_for -->

<script type="text/javascript">
  creatingNewNode = true;
</script>
<%= javascript_include_tag "forNodesForms" %>
<%= javascript_include_tag "nodeTitleToName" %>
<script type="text/javascript">
  plumbEventHandlersToNodeCreationElements();
</script>
