<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>

<h1>Node Contents</h1>

<p>
  <b>Name:</b>  <span id="node_name"><%=h @node.name %></span>
</p>

<p>
  <b>Title:</b>  <span id="node_title"><%=h @node.title %></span>
</p>

<p>
  <b>Description:</b>
  <span id="node_description"><%=h @node.description %></span>
</p>
<span id="node_id" style="display: none"><%=h @node.id %></span>

<% unless @edge_list.empty? %>
  <%= render :partial => "show_outbound_links" %>

  <h2>Edges for this node</h2>
  <table>
    <thead><tr>
      <th>&nbsp;&nbsp;this&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;<em>is</em> or <em>has</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;<em>to</em> or <em>with</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr></thead>

    <% @edge_list.each do |edge_array| %>
      <tbody>
        <% edge_array.each do |edge_id| %>
          <tr>
            <td>
              <%= e = @edge_hash[edge_id]
                  self_string_or_other_link(e.subject_id) %>
            </td><td class="edgecolumn">
              <%= self_string_or_other_link(e.predicate_id) %>
            </td><td>
              <%= self_string_or_other_link(e.obj_id) %>
            </td><td>
              <% if (e.flags & Edge::DATA_IS_UNALTERABLE) == 0 %>
                <%= link_to 'Edit&nbsp;edge', edit_edge_path(e) %>
                <%= link_to 'Delete&nbsp;edge', edge_path(e),
                            :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>

<%= render :partial => "show_outbound_links" %>
