<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = h( filter_parenthetical( @node.title ) )

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Name', 'WmHelp:GlossaryAtoO#anchor_Name' ],
    [ 'Title', 'WmHelp:GlossaryPtoZ#anchor_Title' ],
    [ 'Description', 'WmHelp:GlossaryAtoO#anchor_Description' ],
    [ 'Node', 'WmHelp:GlossaryAtoO#anchor_Node' ]
  ]
 %>


<% # question-icon for title/name/desc pop-up help
   unless @popup_flag %>
     <div style="height: 600px; float: left; padding-right: 1em;">&nbsp;</div>
     <div style="position: absolute; left: 15.7%;">
       <%= popup_help_icon "Help, node content", "WmHelp:Popup/HeaderNode" %>
     </div>
<% end %>


<% # populate top (title/name/desc) section of page
 %>
<p style="margin-bottom: 0; font-weight: bold;">
  <%= text_has_tip 'node_title', h( @node.title ),
        '&nbsp;<b>Title</b> of this <b>Node</b>&nbsp;' %>
</p>

<style>
  #node_name_para {
    margin-bottom: 1.5ex;
    margin-left: 3em;
    position: relative;
    z-index: 101;
  }
  #node_name, #node_name:link, #node_name:hover, #node_name:visited,
      #node_name:active {
    padding: 0.3ex;
    padding-right: 1em;
    color: black;
    background-color: white;
  }
</style>
<p id="node_name_para">
  <%= text_has_tip 'node_name', h( @node.name ),
        '&nbsp;<b>Name</b> of this <b>Node</b>&nbsp;' %>
</p>

<p>
  <%= text_has_tip 'node_description', h( @node.description ),
        '&nbsp;<b>Description</b> of this <b>Node</b>&nbsp;' %>
</p>

<%    # embed this for testability and future JavaScript
 %>
<div id="node_id" style="display: none"><%= h @node.id -%></div>



<% # links to global pages/actions
 %>
<p style="clear: right">
  <% unless @popup_flag %>
    <%= render :partial => "show_outbound_links" -%>
  <% end %>
</p>

<% # populate bottom (edges referencing this node) section of page
   unless @edge_list.empty? %>


  <% # track things to do only once:
     list_open_output = false
     last_predicate_id = nil
     last_obj_id = nil
     table_open_output = false
     @show_help_icon_used = false
     @edit_help_icon_used = false
     @delete_help_icon_used = false

     array_of_arrays_of_edges = @edge_list.to_enum


     # first, put all edges where current node is the subject into indented list
     begin
       while true do               # exit via break or exception

         edge_array = array_of_arrays_of_edges.next

         # check ID of first edge's subject node against "this" node's ID
         break if @edge_hash[edge_array[0]].subject_id != @node.id

         edge_array.each do |edge_id|
           e = @edge_hash[edge_id]

           unless list_open_output
             list_open_output = true

             # question-icon for edges-list pop-up help
             unless @popup_flag  %>
               <div style="position: absolute; left: 15.7%;">
                 <%= popup_help_icon "Help, edges referencing a node",
                                     "WmHelp:Popup/HeaderNodeEdgeList" %>
               </div>
<%           end  %>

             <ul>
               <%= text_has_tip nil, (h filter_parenthetical @node.title),
                     (h @node.name) %>
               <ul style="list-style-type: none;">
<%         end

           if last_predicate_id != e.predicate_id
             if last_predicate_id %>
                 </ul>
               </li>
<%           end %>
             <li>
               <%= n = @node_hash[e.predicate_id]
                   link_has_tip nil, (h filter_parenthetical n.title ),
                                node_path(n), h( n.name ) %>
               <ul style="list-style-type: none;">
<%         end %>

           <li>
             <div style="float: right; font-size: 80%; margin-right: 6em;">
               <%  generate_edge_links(e) %>
             </div>
             <%= n = @node_hash[e.obj_id]
                 link_has_tip nil, (h filter_parenthetical n.title ),
                              node_path(n), h( n.name ) %>
           </li>

<%         last_predicate_id = e.predicate_id

         end                       # .each over edge_array
       end                         # while over array-of-edge_array's
     rescue StopIteration          # out of edges
       edge_array = nil            #   none for table
     end


     if list_open_output %>
             </ul>
           </li>
         </ul>
       </ul>
       <p style="line-height: 50%; font-size: 50%;">&nbsp;</p>
<%   end

     # now put any remaining edges into a table
     if edge_array
       loop do                     # until exception on .next at loop's end

         unless table_open_output
           table_open_output = true

           # question-icon for edges-table pop-up help
           unless @popup_flag  %>
             <div style="position: absolute; left: 15.7%;">
               <%= popup_help_icon "Help, edges referencing a node",
                                   "WmHelp:Popup/HeaderNodeEdgeTable" %>
             </div>
<%         end

           output_table_open
         end %>

         <tbody>
           <% edge_array.each do |edge_id| %>
             <tr>
               <td>
                 <%= e = @edge_hash[edge_id]
                     self_string_or_other_link(e.subject_id) %>
               </td><td class="edgecolumn">
                 <%= self_string_or_other_link(e.predicate_id) %>
               </td><td>
                 <%= self_string_or_other_link(e.obj_id) %>
               </td><td style="font-size: 80%">
                 <% generate_edge_links(e) %>
               </td>
             </tr>
           <% end %>
         </tbody>
    <%
         edge_array = array_of_arrays_of_edges.next

       end                      # loop over ..._edges iterator
     end                        # if any edges to put in table

     if table_open_output
       output_table_close
     end
   end                          # unless @edge_list.empty?
 %>
