<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end %>

<h1>Administration Options</h1>

<h2>Data Backup and Restore</h2>

<p><%=
  link_to "Download all nodes in YAML",
    :controller => 'nodes', :action => 'index', :format => 'yaml',
    :rel => 'nofollow'
  %>

  to backup node data for future restore.
</p>

<p><%=
  link_to "Download all edges in 'Notation 3' (aka N3) format",
    :controller => 'edges', :action => 'index', :format => 'n3',
    :rel => 'nofollow'
  %>

  to backup edge data for future restore.
</p>

<% form_tag( { :action => 'node_up' }, :multipart => true ) do %>
  <p><label for="node_upload">Upload a YAML file containing definitions
    for new nodes</lable><br/>

    <%= file_field 'node_upload', 'nodefile' %>
    <%= submit_tag "Upload" %>
    <br/>

    Note: all nodes must be loaded into the system before uploading any
    edge data that references them.
  </p>
<% end %>


<% form_tag( { :action => 'edge_up' }, :multipart => true ) do %>
  <p><label for="edge_upload">Upload an N3 file containing definitions
    for new edges.  (Edges are defined by creating URIs that are bare
    anchors using the related node's "name" fields.) </lable><br/>

    <%= file_field 'edge_upload', 'edgefile' %>
    <%= submit_tag 'Upload' %>
  </p>
<% end %>




