<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>



<span style="white-space: nowrap;">
  Click on a Title to view a node's details<a
    href="<%= WontoMedia.popup_url_prefix -%>WmHelp:Popup/ClickShowNode"
    class="iframeBox" tabindex="0" ><%=
  image_tag "help_icon.png", :alt=>"Help, viewing individual node",
            :class=>"image-in-text" -%></a>
</span>
&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
<span style="white-space: nowrap;">
  <%= link_to 'Create a new edge', new_edge_path %><a
    href="<%= WontoMedia.popup_url_prefix -%>WmHelp:Popup/EdgeAdd"
    class= "iframeBox" tabindex="0" ><%=
  image_tag "help_icon.png", :alt=>"Help for edges create/new",
            :class=>"image-in-text" -%></a>
</span>
&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
<span style="white-space: nowrap;">
  <%= link_to 'View all nodes', nodes_path %><a
    href="<%= WontoMedia.popup_url_prefix -%>WmHelp:Popup/ShowNodes"
    class="iframeBox" tabindex="0" ><%=
  image_tag "help_icon.png", :alt=>"Help for nodes list",
            :class=>"image-in-text" -%></a>
</span>
