<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<h1>Editing edge </h1>

<% form_for(@edge) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "spo_select_controls",
               :locals => {
                 :f => f, :edge => @edge,
                 :nodes => @nodes, :verbs => @verbs
               } %>
  <p><%= f.submit 'Update' %></p>
<% end %>


<%= link_to 'Cancel, show edge', edge_path(@edge) %> &mdash;
<%= link_to 'Cancel, show edge list', edges_path %> &mdash;
<%= link_to 'Cancel, show node list', nodes_path %>


<script type="text/javascript">
  creatingNewEdge = false;
</script>
<%= javascript_include_tag "forEdgesForms" %>
