<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end %>

<%
  @title_text = (h filter_parenthetical @edge.subject.title) + " : " +
                (h filter_parenthetical @edge.predicate.title) + " : " +
                (h filter_parenthetical @edge.obj.title)

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Node', 'WmHelp:GlossaryAtoO#anchor_Node' ],
    [ 'Edge', 'WmHelp:GlossaryAtoO#anchor_Edge' ]
  ]
 %>


<div class="headline">Editing edge<%=
  popup_help_icon "Help edge edit", "WmHelp:Popup/HeaderEdgeEdit" %>
</div>


<% form_for(@edge) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "spo_select_controls",
               :locals => {
                 :f => f, :edge => @edge,
                 :nodes => @nodes, :verbs => @verbs
               } %>
  <p><%= f.submit 'Update', :tabindex=>'40' %></p>
<% end %>


<%= link_to 'Cancel,&nbsp;show&nbsp;edge', edge_path(@edge),
      :rel => 'nofollow' %> &mdash;
<%= link_to 'Cancel,&nbsp;show&nbsp;edge&nbsp;list', edges_path,
      :rel => 'nofollow' %> &mdash;
<%= link_to 'Cancel,&nbsp;show&nbsp;node&nbsp;list', nodes_path,
      :rel => 'nofollow' %>


<script type="text/javascript">
  creatingNewEdge = false;
  creatingNewNode = true;
</script>
<%= javascript_include_tag "forEdgesForms" %>
<%= javascript_include_tag "event.simulate" %> <!-- used by following -->
<%= javascript_include_tag "nodeCreatePopup" %>
    <!-- following used by /nodes/new-pop if loaded by nodeCreatePopup.js -->
<%= javascript_include_tag "forNodesForms" %>
<%= javascript_include_tag "nodeTitleToName" %>
