<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = 'All Edges'

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Subject', 'WmHelp:GlossaryPtoZ#anchor_Subject' ],
    [ 'Predicate', 'WmHelp:GlossaryPtoZ#anchor_Predicate' ],
    [ 'Object', 'WmHelp:GlossaryAtoO#anchor_Object' ],
    [ 'Title', 'WmHelp:GlossaryPtoZ#anchor_Title' ]
  ]
 %>


<div class="headline">
  <%= popup_help_icon "Help, edges list", "WmHelp:Popup/HeaderEdgesIndex"
  -%>Listing all defined edges
  <%= render :partial => 'common/top_box'    # contains an opening <div>
   %>
    <%= render :partial => "index_outbound_links" %>
  </div>
</div>

<table class="tight-table index-table" style="clear: both;">
  <% @show_help_icon_used = false
     @edit_help_icon_used = false
     @delete_help_icon_used = false
   %>

  <tr style="color: #b0b0ff;">
    <th style="text-decoration: underline;">Subject</th>
    <th style="text-decoration: underline;">Predicate</th>
    <th style="text-decoration: underline;">Object</th>
  </tr>

  <% @edges.each do |edge| %>
    <% content_tag :tr, :id => edge.id do %>
      <td class='firstrow secondrow'><%=
        link_to "#{h filter_parenthetical edge.subject.title}",
                node_path(edge.subject) -%></td>
      <td class='firstrow secondrow'><%=
        link_to "#{h filter_parenthetical edge.predicate.title}",
                node_path(edge.predicate) -%></td>
      <td class='firstrow secondrow'><%=
        link_to "#{h filter_parenthetical edge.obj.title}",
                node_path(edge.obj) -%></td>
      <td class='firstrow secondrow' style="font-size: 80%">
        <% generate_edge_links(edge) %>
      </td>
<!--
      <td><%= unless edge.edge_desc.nil?
                link_to "#{h edge.edge_desc.name}", node_path(edge.edge_desc)
             end %>
      </td>
  -->
    <% end %>
  <% end %>
</table>


<%= render :partial => 'common/bottom_line'    # contains an opening <div>
 %>
  <%= render :partial => 'index_outbound_links' %>
</div>
