<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>

<h1>Edge Contents</h1>

<table>
  <tr><td>
    <b>Subject:</b>
  </td><td>
      <%= h @subject.title %> &mdash;
      (<%= link_to "#{h @subject.name}", node_path(@subject) %>)
    <p>
      <%= h @subject.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Predicate:</b>
  </td><td>
      <%= h @predicate.title %> &mdash;
      (<%= link_to "#{@predicate.name}", node_path(@predicate) %>)
    <p>
      <%= h @predicate.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Object:</b>
  </td><td>
      <%= h @obj.title %> &mdash;
      (<%= link_to "#{@obj.name}", node_path(@obj) %>)
    <p>
      <%= h @obj.description %>
    </p>
  </td></tr>
</table>

<% if (@edge.flags & Edge::DATA_IS_UNALTERABLE) == 0 %>
  <%= link_to 'Edit this edge', edit_edge_path(@edge) %> &mdash;
  <%= link_to 'Delete this edge', edge_path(@edge),
              :confirm => 'Are you sure?', :method => :delete %> &mdash;
<% end %>

<%= link_to 'Show edge list', edges_path %> &mdash;
<%= link_to 'Create a new edge', new_edge_path %> &mdash;
<%= link_to 'Show node list',    nodes_path %> &mdash;
<%= link_to 'Create a new node', new_node_path %>
