<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = (h @subject.title) + " : " +
                (h @predicate.title) + " : " +
                (h @obj.title)

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Subject', 'WmHelp:GlossaryPtoZ#anchor_Subject' ],
    [ 'Predicate', 'WmHelp:GlossaryPtoZ#anchor_Predicate' ],
    [ 'Object', 'WmHelp:GlossaryAtoO#anchor_Object' ],
    [ 'Node', 'WmHelp:GlossaryAtoO#anchor_Node' ],
    [ 'Edge', 'WmHelp:GlossaryAtoO#anchor_Edge' ]
  ]
 %>


<div class="headline">Edge
  content<a href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/LinkEdge"
     style="font-size: small;" target="_blank" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help, edge content",
              :class=>"image-in-text" -%></a>
</div>


<table>
  <tr><td>
    <b>Subject:</b>
  </td><td>
      <%= link_to "#{h @subject.title}", node_path(@subject) %> &mdash;
      (<%= h @subject.name %>)
    <p>
      <%= h @subject.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Predicate:</b>
  </td><td>
      <%= link_to "#{h @predicate.title}", node_path(@predicate) %> &mdash;
      (<%= h @predicate.name %>)
    <p>
      <%= h @predicate.description %>
    </p>
  </td></tr>

  <tr><td>
    <b>Object:</b>
  </td><td>
      <%= link_to "#{h @obj.title}", node_path(@obj) %> &mdash;
      (<%= h @obj.name %>)
    <p>
      <%= h @obj.description %>
    </p>
  </td></tr>
</table>

<p style="margin-top: 1.5em;">
  <% if (@edge.flags & Edge::DATA_IS_UNALTERABLE) == 0 %>
    <span style="white-space: nowrap;">
      <%= link_to 'Edit&hellip;', edit_edge_path(@edge), :rel => 'nofollow' %><a
        href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/NodeEdit"
        target="_blank" tabindex="0" ><%=
      image_tag "help_icon.png", :alt=>"Help edit nodes",
                :class=>"image-in-text" -%></a></span>

    &nbsp;&nbsp;&mdash;&nbsp;&nbsp;

    <span style="white-space: nowrap;">
      <%= link_to 'Delete', edge_path(@edge), :rel => 'nofollow',
                  :confirm => 'Are you sure?', :method => :delete %><a
        href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/NodeDelete"
        target="_blank" tabindex="0" ><%=
      image_tag "help_icon.png", :alt=>"Help delete nodes",
                :class=>"image-in-text" -%></a></span>

    &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
  <% end %>

  <span style="white-space: nowrap;">
    <%= link_to 'Show edge list', edges_path %><a
      href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/ShowEdges"
      target="_blank" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help for nodes list",
              :class=>"image-in-text" -%></a>
  </span>

  &nbsp;&nbsp;&mdash;&nbsp;&nbsp;

  <span style="white-space: nowrap;">
    <%= link_to 'Create a new edge', new_edge_path, :rel => 'nofollow' %><a
      href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/EdgeAdd"
      target="_blank" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help for edges create/new",
              :class=>"image-in-text" -%></a>
  </span>

  &nbsp;&nbsp;&mdash;&nbsp;&nbsp;

  <span style="white-space: nowrap;">
    <%= link_to 'Show node list', nodes_path %><a
      href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/ShowNodes"
      target="_blank" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help for nodes list",
              :class=>"image-in-text" -%></a>
  </span>

  &nbsp;&nbsp;&mdash;&nbsp;&nbsp;

  <span style="white-space: nowrap;">
    <%= link_to 'Create a new node', new_node_path, :rel => 'nofollow' %><a
      href="<%= WontoMedia.help_url_prefix -%>WmHelp:Popup/NodeAdd"
      target="_blank" tabindex="0" ><%=
    image_tag "help_icon.png", :alt=>"Help for nodes create/new",
              :class=>"image-in-text" -%></a>
  </span>
</p>
