<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>



<p><b>Subject:</b>
  <%= h @subject.title %> &mdash;
  (<%= link_to "#{h @subject.name}", node_path(@subject) %>)
</p>

<p><b>Predicate:</b>
  <%= h @predicate.title %> &mdash;
  (<%= link_to "#{@predicate.name}", node_path(@predicate) %>)
</p>

<p><b>Object:</b>
  <%= h @obj.title %> &mdash;
  (<%= link_to "#{@obj.name}", node_path(@obj) %>)
</p>

<%= link_to 'Edit this edge', edit_edge_path(@edge) %> |
<%= link_to 'Delete this edge', edge_path(@edge), :confirm => 'Are you sure?',
                                                  :method => :delete %> |
<%= link_to 'Show edge list', edges_path %>



