<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end

   @title_text = filter_parenthetical h @item.title

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Item', 'Help:GlossaryAtoO#anchor_Item' ]
  ]
 %>

<div class="headline">Editing item<%=
  popup_help_icon "Help item edit", "Help:Popup/HeaderItemEdit" %>
</div>


<% form_for(@item, :url => item_path(@item)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form_fields", :locals => { :f => f } %>
  <p><%= f.submit "Update", :tabindex => "10" %></p>
<% end %>

<div class="horizontal-link-list"><ul>
  <li><%= link_to 'Cancel,&nbsp;show&nbsp;item', item_path(@item),
            :rel => 'nofollow' -%></li>
  <li><%= link_to 'Cancel,&nbsp;show&nbsp;item&nbsp;list', items_path,
            :rel => 'nofollow' -%></li>
</ul></div>

<% content_for :first_bottom_page_js do %>
  <script type="text/javascript">
    inAnItemsForm = true;
    creatingNewItem = false;
  </script>
<% end %>
<% content_for :last_bottom_page_js do %>
  <script type="text/javascript">
    plumbEventHandlersToItemCreationElements();
    $(controlNamePrefix + 'item_title').focus();
  </script>
<% end %>
