<%
# WontoMedia - a wontology web application
# Copyright (C) 2011 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  require Rails.root.join( 'lib', 'helpers', 'item_helper')
  @title_text = 'All Items'

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Name', 'Help:GlossaryAtoO#anchor_Name' ],
    [ 'Title', 'Help:GlossaryPtoZ#anchor_Title' ],
    [ 'Description', 'Help:GlossaryAtoO#anchor_Description' ],
    [ 'Item', 'Help:GlossaryAtoO#anchor_Item' ],
    [ 'Connection', 'Help:GlossaryAtoO#anchor_Connection' ]
  ]
 %>


<div class="headline">

  <%= popup_help_icon "Help, items list", "Help:Popup/HeaderItemsIndex"
  -%>Listing all defined items

  <div class="noncontent vertical-link-list"
      style="float: left; margin-left: 2em;">
    <%= render :partial => "list_outbound_links",
          :locals => { :generating_index_page => true } %>
  </div>
</div>

<table class="tight-table index-table" style="clear: both;">
  <% @connection_actions_help_icon_used = false

     @items.each do |item| %>
    <% content_tag :tr, :id => h(item.name) do %>
      <td class="firstrow"><%= wrap_item_name h item.name -%></td>
      <td class="firstrow" style="font-weight: bold; width: 62%;">
        <%= link_to filter_parenthetical(h item.title),
              item_by_name_path(item.name) -%></td>
      <td class="firstrow" style="font-size: 80%;">
        <% generate_item_links(item) %>
      </td>
    <% end %>
    <tr>
      <td colspan="3" class="secondrow" style="padding-left: 2.2em;">
        <span style="font-size: 70%">
          <%= ItemHelper::ITEM_SUBTYPES_TO_HUMAN[item.sti_type] %>:
          <% if item.class_item %>
            <%=h item.class_item.name %>:
          <% end %>
        </span>
        <%=h item.description %></td>
    </tr>
  <% end %>
</table>

<div class="horizontal-link-list">
  <%= render :partial => 'list_outbound_links',
        :locals => { :generating_index_page => true } %>
</div>

