<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :head do %>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
<% end %>

<%
  require Rails.root.join( 'lib', 'helpers', 'item_helper')
  @title_text = 'Make a new item'

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Category', 'Help:GlossaryAtoO#anchor_Category' ],
    [ 'Individual', 'Help:GlossaryAtoO#anchor_Individual' ],
    [ 'Property', 'Help:GlossaryAtoO#anchor_Property' ],
    [ 'Item', 'Help:GlossaryAtoO#anchor_Item' ]
  ]
 %>


<% options = @item.sti_type.nil? ? {} : { :url => items_path() }
   form_for(@item, options) do |f|
 %>
  <%= f.error_messages %>
  <div style="width: 36%; float: left;">
    <%= render :partial => "type_select", :locals => { :f => f } %>
    <%= render :partial => "form_fields", :locals => { :f => f } %>
    <script type="text/javascript">
      genNameFromTitleOk = true;
    </script>

    <p id="create_button_container" style="text-align: center">
      <%= f.submit "Create", :tabindex => "10" %>
    </p>

    <div class="horizontal-link-list"><ul>
      <li><%= link_to 'Cancel,&nbsp;show&nbsp;item&nbsp;list', items_path,
               :rel => 'nofollow' -%></li>
      <li><%= link_to 'Cancel,&nbsp;show&nbsp;connection&nbsp;list',
                connections_path, :rel => 'nofollow' -%></li>
    </ul></div>
  </div>

  <div class="noncontent" style="width: 60%; float: right; margin-left: 0;">
    <dl><dt id="category_title">Category</dt><dd id="category_desc">

      "Category" is for groups of things, for concepts, and for the
      upper levels of hierarchies<%=
        popup_help_icon 'Definition of hierarchies in a wontology',
          'Help:GlossaryAtoO#anchor_Hierarchy' -%>.
      (Though a hierarchy made up entirely of concepts could be all
      Categories.)  Categories can "contain" other categories or
      individuals.

    </dd><dt id="individual_title">Individual</dt><dd id="individual_desc">

      "Individual" is for specific, concrete things.  Individuals can
      "contain" other individuals, but cannot contain categories.
      ("Ford Model-T" might be an individual, but could still contain
      parts that are also individuals, like "Windshield" and "Tire".)

    </dd><dt id="property_title">Property</dt><dd id="property_desc">

      "Property" is used to define relationships<%=
        popup_help_icon 'Definition of relationships in a wontology',
          'Help:GlossaryPtoZ#anchor_Relationship' -%>
      between other items.  Once you create a new Property item<%=
        popup_help_icon 'Definition of Item',
          'Help:GlossaryAtoO#anchor_Item' -%>,
      you should create one or more connections<%=
        popup_help_icon 'Definition of Connection',
          'Help:GlossaryAtoO#anchor_Connection' -%>
      that relate that property to other existing properties.  In
      general, you will use the "sub_property_of" property in order to
      create these connections.  For example, if you were creating a
      description of famillial relations between people, you might
      create a new property named "spouseOf".  To define what the
      creation of connections using this new property <em>means</em>, you
      can create the connection "<code>spouseOf sub_property_of
      symmetric_relationship</code>".  This example will cause
      "spouseOf" to be treated as a "peer" relationship<%=
        popup_help_icon 'Peer relationships in a wontology',
          'Help:GlossaryPtoZ#anchor_Peer' -%>
      (rather than a hierarchical one), and as a symmetric
      relationship<%=
        popup_help_icon 'Symmetric relationships in a wontology',
          'Help:GlossaryPtoZ#anchor_Symmetric' -%>,
      so that creating a "spouseOf" connection from one item to another
      implies an connection going the other direction even if it is not
      defined explicitly.

    </dd></dl>
  </div>
<% end %>  <!-- of form_for -->

<script type="text/javascript">
  creatingNewItem = true;
</script>
<%= javascript_include_tag "forItemsForms" %>
<%= javascript_include_tag "itemTitleToName" %>
<script type="text/javascript">
  plumbEventHandlersToItemCreationElements();
</script>
