<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<%
  @title_text = h( filter_parenthetical( @item.title ) )

  # initialize array to define "Glossary Help" box of links:
  @glossary_help_entries = [
    [ 'Name', 'Help:GlossaryAtoO#anchor_Name' ],
    [ 'Title', 'Help:GlossaryPtoZ#anchor_Title' ],
    [ 'Description', 'Help:GlossaryAtoO#anchor_Description' ],
    [ 'Item', 'Help:GlossaryAtoO#anchor_Item' ]
  ]
 %>


<style>
  .margin-help-icon {
    position: absolute;
    left: 15.7%;
    overflow: visible;
  }
</style>
<% # question-icon for title/name/desc pop-up help
   unless @popup_flag %>
     <div style="height: 600px; float: left; padding-right: 1em;">&nbsp;</div>
     <div class="margin-help-icon">
       <%= popup_help_icon "Help, item content", nil, "Help:Popup/HeaderItem" %>
     </div>
<% end %>


<% # populate top (title/name/desc) section of page
 %>
<p style="margin-bottom: 0; font-weight: bold;">
  <%= text_has_tip 'item_title', h( @item.title ),
        '&nbsp;<b>Title</b> of this <b>Item</b>&nbsp;' %>
</p>

<p id="item_name_para">
  <%= text_has_tip 'item_name', h( @item.name ),
        '&nbsp;<b>Name</b> of this <b>Item</b>&nbsp;' %>
</p>

<p>
  <%= text_has_tip 'item_description', h( @item.description ),
        '&nbsp;<b>Description</b> of this <b>Item</b>&nbsp;' %>
</p>

<%    # embed this for testability and future JavaScript
 %>
<div id="item_id" style="display: none"><%= h @item.id -%></div>



<% # links to global pages/actions
 %>
<p style="clear: right">
  <% unless @popup_flag %>
    <%= render :partial => "show_outbound_links" -%>
  <% end %>
</p>

<% # populate bottom (connections referencing this item) section of page
   unless @connection_list.empty? %>


  <% # track things to do only once:
     list_open_output = false
     last_predicate_id = nil
     last_obj_id = nil
     table_open_output = false
     @show_help_icon_used = false
     @edit_help_icon_used = false
     @delete_help_icon_used = false

     array_of_arrays_of_connections = @connection_list.to_enum


     # first, put all connections w/ current item-is-subject into indented list
     begin
       while true do               # exit via break or exception

         connection_array = array_of_arrays_of_connections.next

         # check ID of first connection's subject item against "this" item's ID
         break if @connection_hash[connection_array[0]].subject_id != @item.id

         connection_array.each do |connection_id|
           e = @connection_hash[connection_id]

           unless list_open_output
             list_open_output = true

             # question-icon for connections-list pop-up help
             unless @popup_flag  %>
               <div class="margin-help-icon">
                 <%= popup_help_icon "Help, connections referencing a item",
                       nil, "Help:Popup/HeaderItemConnectionList" %>
               </div>
<%           end  %>

             <ul>
               <%= text_has_tip nil, (h filter_parenthetical @item.title),
                     (h @item.name) %>
               <ul style="list-style-type: none;">
<%         end

           if last_predicate_id != e.predicate_id
             if last_predicate_id %>
                 </ul>
               </li>
<%           end %>
             <li>
               <%= n = @item_hash[e.predicate_id]
                   link_has_tip nil, (h filter_parenthetical n.title ),
                     item_path(n), h( n.name ) %>
               <ul style="list-style-type: circle;">
<%         end %>

           <li>
             <div style="float: right; font-size: 80%; margin-right: 6em;">
               <%  generate_connection_links(e) %>
             </div>
             <%= n = @item_hash[e.obj_id]
                 link_has_tip nil, (h filter_parenthetical n.title ),
                   item_path(n), h( n.name ) %>
           </li>

<%         last_predicate_id = e.predicate_id

         end                       # .each over connection_array
       end                         # while over array-of-connection_array's
     rescue StopIteration          # out of connections
       connection_array = nil      #   none for table
     end


     if list_open_output %>
             </ul>
           </li>
         </ul>
       </ul>
       <p style="line-height: 50%; font-size: 50%;">&nbsp;</p>
<%   end

     # now put any remaining connections into a table
     if connection_array
       loop do                     # until exception on .next at loop's end

         unless table_open_output
           table_open_output = true

           # question-icon for connections-table pop-up help
           unless @popup_flag  %>
             <div class="margin-help-icon">
               <%= popup_help_icon "Help, connections referencing a item", nil,
                     "Help:Popup/HeaderItemConnectionTable" %>
             </div>
<%         end

           output_table_open
         end %>

         <tbody>
           <% connection_array.each do |connection_id| %>
             <tr>
               <td>
                 <%= e = @connection_hash[connection_id]
                     self_string_or_other_link(e.subject_id) %>
               </td><td class="connectioncolumn">
                 <%= self_string_or_other_link(e.predicate_id) %>
               </td><td>
                 <%= self_string_or_other_link(e.obj_id) %>
               </td><td style="font-size: 80%">
                 <% generate_connection_links(e) %>
               </td>
             </tr>
           <% end %>
         </tbody>
    <%
         connection_array = array_of_arrays_of_connections.next

       end                      # loop over ..._connections iterator
     end                        # if any connections to put in table

     if table_open_output
       output_table_close
     end
   end                          # unless @connection_list.empty?
 %>
