<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>
<% @display_unimplemented = false %>


<% require Rails.root.join( 'lib', 'helpers', 'node_helper') %>


#### the layout for the home page yields for five different pieces of content:
##     :content_full            (top, full-width area of center content column)
##     :content_lower_wide
##     :content_lower_narrow
##     :right_column
##     :left_column
##
## so this file contains a "content_for" block for each.


<% content_for :content_full do %>
  <%= render :partial => "home_introductory_text" %>
  <%= render :partial => "core_tasks" %>
<% end -%>

<% content_for :content_lower_wide do %>
  <%= render :partial => "content_examples" %>
<% end -%>

<% content_for :content_lower_narrow do %>
  <%= render :partial => "screen_select" %>
<% end -%>

<% content_for :right_column do %>
<% if @display_unimplemented %>
  <div id="block-active" class="box" style="margin-top: 0;">
    <p class="unimplemented">[area to highlight sections of the
      wontology that have recent/heavy activity]</p>
  </div>
  <div id="block-topics" class="box">
    <p class="unimplemented">[area to list all Topics in the
      wontology, sorted by size/activity]</p>
  </div>
<% end -%>
<% end -%>

<% content_for :left_column do %>
<% if @display_unimplemented %>
  <%= render :partial => "common/navigation_menu" %>
  <div id="block-announcements" class="box">
    <p class="unimplemented">[area for displaying announcements (new
      feature deployments, scheduled down-time, etc.) to users]</p>
  </div>
  <div id="block-personalization" class="box">
    <p class="unimplemented">[area for user personalization features,
      both information display and controls]</p>
  </div>
  <div id="block-featured" class="box">
    <p class="unimplemented">[area for links to other, external,
      "featured" wontologies/WontoMedia installations]</p>
  </div>
<% end -%>
<% end -%>


