<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>
<% if @display_unimplemented %>

<div id="block-navigation" class="box">
<span class="unimplemented">
  <ul style="margin: 0; margin-bottom: 0.6ex; padding: 0; padding-left: 1.5em;">
    <li><%= link_to "About this site",
              "#{WontoMedia.help_url_prefix}Help:About_Wontology.org" -%></li>
    <li><%= link_to "Contributing", "#" -%></li>
    <li><%= link_to "Contact Us", "#" -%></li>
    <li><%= link_to "Press Info", "#" -%></li>
    <li><%= link_to "WontoMedia Software",
              "#{WontoMedia.help_url_prefix}WontoMedia" -%></li>
    <li><a href="http://twitter.com/wontology">Follow
      Us</a><%= image_tag 'twitter_icon', :alt=>'twitter',
                  :class=>'image-in-text' %>
    </li>
  </ul>
</span>
</div>

<% end %>
