<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%
# WontoMedia - a wontology web application
# Copyright (C) 2009 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name -%>:
           <%= controller.action_name -%></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'wm' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <p style="color: red"><%= flash[:error] %></p>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>

    <p style="font-size: 60%; color: grey; clear: both">
Copyright &copy; 2009, Glen E. Ivey (system design and behavior currently confidential & proprietary) |

Software and page templates licensed under
<a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL v3</a> |

Page content licensed under
<a href="http://www.gnu.org/licenses/fdl-1.3.html">GNU FDL v1.3</a> |

Powered by <a href="http://wontomedia.rubyforge.org/">WontoMedia</a>
    </p>

  </body>
</html>
