<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>
<% @display_unimplemented = false %>

<% content_for :page_body do %>
  <% if @title_text %>
    <div id="page-title" class="page-title-text">
      <h1 style="white-space: nowrap;"><%= @title_text -%></h1>
    </div>
  <% end %>
  <div id="float-center-right"
       style="float: right; width: 85%; margin-top: 8ex;">
    <div id="column-content" class="content" style="float: left; width: 81.8%;">
      <% unless @this_is_non_information_page %>
        <%= render :partial => "layouts/glossary_help_box" -%>
      <% end %>
      <%= render :partial => "layouts/status_msgs" -%>
      <%= yield -%>
    </div>
    <div id="column-right"
         style="float: right; width: 16.9%; text-align: center; margin-top: 0;">
      <% if @this_is_non_information_page %>
        <%= render :partial => "layouts/glossary_help_box" -%>
      <% end %>
      <%= render :partial => "layouts/google_ads" %>
    </div>
  </div>

  <div id="float-left" style="float: left; width: 14.4%;">
    <div id="container-absolutes">
      <div id="block-search"
           style="width: 19%; position: absolute; top: 0; right: 0;">
        <%= render :partial => "layouts/search_box" %>
      </div>
      <div id="page-top-controls"
           style="position: absolute; top: 0; right: 15.6%;">
        <%= render :partial => "layouts/master_help" %>
        <%= render :partial => "layouts/language_select" %>
        <%= render :partial => "layouts/login_controls" %>
      </div>
    </div>
    <div id="column-left">
      <%= link_to( logo_image, root_url ) %>
      <%= allpages_alert %>
      <%= render :partial => "layouts/amazon_ads" %>
    </div>
  </div>
<% end -%>

<%= render :file => 'layouts/base' %>
