<%
# WontoMedia - a wontology web application
# Copyright (C) 2010 - Glen E. Ivey
#    www.wontology.com
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version
# 3 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program in the file COPYING and/or LICENSE.  If not,
# see "http://www.gnu.org/licenses/".
%>


<% content_for :page_body do %>
  <div id="tag-line" style="position: absolute; top: 0; left: 15.5%;">
    <h1><%= WontoMedia.site_tagline -%></h1>
  </div>
  <div id="float-center-right"
       style="float: right; width: 85%; margin-top: 8ex;">
    <div id="column-content" class="content" style="float: left; width: 81%;">
      <%= render :partial => "common/status_msgs" %>
      <%= yield( :content_full ) %>
      <div id="content-lower-wide" class="content" style="float: left; width: 61%;">
        <%= yield( :content_lower_wide ) %>
      </div>
      <div id="content-lower-narrow" class="content" style="float: right; width: 37%;">
        <%= yield( :content_lower_narrow ) %>
      </div>
    </div>
    <div id="home-right-column" style="float: right; width: 17.4%;">
      <%= yield( :right_column ) %>
    </div>
  </div>

  <div id="float-left" style="float: left; width: 14.4%;">
    <div id="container-absolutes">
      <div id="block-search"
           style="width: 19%; position: absolute; top: 0; right: 0;">
        <div>
          <%= render :partial => "common/search_box" %>
        </div>
      </div>
      <div id="page-top-controls"
           style="position: absolute; top: 0; right: 16.9%;">
        <div id="block-help" style="float: right;">
          <%= render :partial => "common/master_help" %>
        </div>
        <div id="block-language" style="float: right;">
          <%= render :partial => "common/language_select" %>
        </div>
        <div id="block-login" style="float: right;">
          <%= render :partial => "common/login_controls" %>
        </div>
      </div>
    </div>
    <div id="column-left" style="width: 98%">
<% if @display_unimplemented %>
      <img src="/images/dummy_logo.png" alt="Logo" width="100%"
           style="margin-bottom: 0.5ex;" />
<% else %>
      <img src="/images/logo.png" alt="Logo" width="100%"
           style="margin-bottom: 0.5ex;" />
<% end -%>
      <%= yield( :left_column ) %>
    </div>
  </div>
<% end -%>

<%= render :file => 'layouts/base' %>
